# Test requirements for o0_o.utils collection

# Required for runtime type checking
typeguard>=4.0.0

# Required for hostname filter plugin
dnspython
idna
tldextract

# Required for datetime filter plugin
python-dateutil

# Required for strip_comments helper
pyparsing
